@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif !important;
}

.container-fluid {
    padding: 0px !important;
}

.nav {
    background-color: #042762;
}

.navbar-brand {
    font-size: 2em !important;
    font-weight: 700;;
    color: white;
}

.nav-item {
    text-align: center;
}

.nav-link {
    color: white;
    font-weight: 500 !important;
}

.navbar-toggler-icon {
    background-color: white;
}

.active {
    color: #A9A9A9;
}

.map-container {
    width: 100%;
    height: 94%;
    z-index: 1;
}

.map_iframe {
    width: 100%;
    height: 100%;
    /* top: 65px; */
    left: 0;
    right: 0;
    bottom: 0px;
    border: 0;
    padding: 0;
}

.modal-dialog {
    max-width: 700px !important;
}

.modal-content {
    background-color: #042762 !important;
    color: white;
    box-shadow: 0 0 24px #042762 !important;
    border-radius: 12px !important;
}

.modal-header {
    border-bottom: None !important;
    text-align: center;
}

.modal-footer {
    border-top: None !important;
}

h5 {
    text-align: center;
}

.img-center {
    align-content: center !important;
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.modal_p {
    color: white;
    font-weight: 500 !important;
    font-size: 1em !important;
    padding-top: 1.1em;
}

.btn-primary {
    background-color: #c22e01 !important;
    border: None !important;
}